<h1>
Patty's Place
</h1>
<hr />

<h2 style = "text-align: center; text-decoration: none;">
<%=link_to "#{@dep.name} Inventory", department_items_path(@dep)%>
</h2>

<br />
<%=link_to 'Edit Department', edit_department_path(@dep)%>
<%=link_to 'Delete Department', @dep%>

