<h1>
<%=@dep.name%>
</h1>

<ul>
<%@items.each do |item|%>
<li>
<%= link_to item.name, [@dep, item]%>
</li>
<%end%>
</ul>
<br/>
<%=link_to 'Add to inventory', new_department_item_path(@dep)%>
<%= link_to 'Other Department', root_path%>